Dear {{ username }},

In regards to the reported issue __{{ summary }}__, the issue [{{ key }}]({{ url }}) was
created. Please track the progress of the issue [here]({{ url }}).

Best regards,
The team
